@import "vue-select/dist/vue-select.css";

.v-select {
    width: 100%;
}
.vs__selected-options,
.vs__selected {
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}

.calculatorform .vs__dropdown-toggle {
  width: 100%;
  border-radius: 48px;
  border: none;
  border: 1px solid #dcdee5;
  transition: 100ms;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  color: #373d4a;
  background: #fff;
  background-color: white;
  cursor: pointer;
    height: initial;
    padding: 10px 20px !important;
}
.calculatorform .vs__dropdown-toggle:focus {
  border: 1.5px solid #c5c8cf;
}
.calculatorform .v-select img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
}
